html{
    scroll-behavior: smooth;
}

body{
    font-family: "Playfair Display";
    background-color: #FFE0CB;
    /* padding: 0px 80px; */
}

.navbar{
    animation: fade-in 2000ms forwards;
    padding: 10px;
    width: 100%;
    background-color: rgba(128, 89, 64, 0.90);
    opacity: .5;
}

.nav-link{
    color: #FFE0CB !important;
}

.navbar-brand{
    color: #FFE0CB !important;
}

#landing{
    background-color: #805940;
    width: 100%;
    vertical-align: middle;
}

#dictionary-definition{
    padding: 100px 80px 80px 100px;
    color: #FFE0CB;
    text-shadow: 2px 2px #351c1c;
    animation: fade-in 2000ms forwards;
}

.def{
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
}

.spacer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: fade-in 2000ms forwards;
}

#headshot{
  box-shadow: 4px 4px #351c1c;
}

.section-description{
  text-align: center;
}

.tiles {
  background-color: #805940;
  color: #FFE0CB;
  transition: box-shadow 0.3s;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.tiles:hover{
  box-shadow: 0 0 11px #351c1c;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}